<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
        <title><TMPL_VAR name></title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" name="viewport">
        <meta content="#4a86cf" name="theme-color">
        <meta content="Planet GNOME" name="application-name">
        <link rel="shortcut icon" type="image/png" href="https://planet.gnome.org/img/favicon.ico">
        <link rel="alternate" type="application/atom+xml" title="<TMPL_VAR title ESCAPE="HTML"> Atom 1.0" href="<TMPL_VAR link ESCAPE="HTML">atom.xml">
        <link rel="alternate" type="application/rss+xml" title="<TMPL_VAR title ESCAPE="HTML"> RSS 2.0" href="<TMPL_VAR link ESCAPE="HTML">rss20.xml">
        <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="http://planet.gnome.org/nlayout.css" type="text/css">
        <link rel="stylesheet" href="http://planet.gnome.org/planet.css" type="text/css">
        <link rel="stylesheet" href="http://planet.gnome.org/generic.css" type="text/css">
        <link rel="stylesheet" href="https://blogs.gnome.org/wp-content/mu-plugins/bug-links/bug-links.css" type="text/css">
        <link href="https://static.gnome.org/css/deneb.min.css" media="all" rel="stylesheet" type="text/css">
        <link href="https://static.gnome.org/css/fonts.css" media="all" rel="stylesheet" type="text/css">

        <script type="text/javascript" src="https://static.gnome.org/js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="https://static.gnome.org/js/deneb.min.js"></script>
        <script type="text/javascript" src="http://planet.gnome.org/jquery.lazyload.min.js"></script>
        <script type="text/javascript"><!-- $(function(){ $('.post img').lazyload(); }); --></script>
</head>

<body class="gnome-body">
<header class="gnome-header">
        <nav class="navbar navbar-fixed-top navbar-default affix-top">
                <div class="container">
                        <div class="navbar-header">
                                <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar-wrapper" data-toggle="collapse" type="button">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar top-bar"></span>
                                        <span class="icon-bar middle-bar"></span>
                                        <span class="icon-bar bottom-bar"></span>
                                </button>
                                <a class="gnome-navbar-brand" title="Go to home page">
                                        <img alt="GNOME: The Free Software Desktop Project" src="https://planet.gnome.org/img/gnome-logo.svg">
                                </a>
                        </div>
                        <div class="navbar-collapse collapse" id="navbar-wrapper">
                                <ul class="nav navbar-nav">
                                        <li>
                                                <a href="#feeds">Feeds</a>
                                        </li>
                                </ul>
                        </div>
                </div>
        </nav>
</header>

<div class="gnome-content">
        <section id="featured">
                <div class="container">
                        <div class="row">
                                <div class="col-xs-12">
                                        <p class="h2 text-center">24 horas por dia, 7 dias por semana, 365 dias por ano…</p>
                                </div>
                        </div>
                </div>
        </section>

        <section id="blog-entries">
        <div id="content">

        <TMPL_IF banner_message>
        <div class="banner"><TMPL_VAR banner_message></div>
        </TMPL_IF>

        <TMPL_LOOP Items>

                <TMPL_IF new_date>
                        <h3 class="date"><TMPL_VAR new_date></h3>
                </TMPL_IF>

                <div class="entry<TMPL_IF channel_nick> <TMPL_VAR channel_nick></TMPL_IF>">
                        <div class="person-info">
                                <a href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">"><TMPL_IF channel_face><img class="img-circle" src="<TMPL_VAR channel_face ESCAPE="HTML">" alt=""><br><TMPL_ELSE><img class="img-circle" src="http://planet.gnome.org/heads/nobody.png" alt=""><br></TMPL_IF><TMPL_VAR channel_name><TMPL_IF channel_real><br><TMPL_VAR channel_real></TMPL_IF><TMPL_IF channel_nick><br>(<TMPL_VAR channel_nick>)</TMPL_IF></a>
                                <TMPL_IF channel_opw2013><p><a href="https://wiki.gnome.org/GnomeWomen/OutreachProgram" title="GNOME Outreach Program for Women"><img src="http://planet.gnome.org/heads/logos/opw2013.png" alt="OPW 2013" /></a></p></TMPL_IF>
                                <TMPL_IF channel_gsoc2013><p><a href="https://wiki.gnome.org/SummerOfCode2013" title="Google Summer of Code 2013"><img src="http://planet.gnome.org/heads/logos/gsoc2013.png" alt="GSoC 2013" /></a></p></TMPL_IF>
                                <TMPL_IF channel_gsoc2014><p><a href="https://wiki.gnome.org/SummerOfCode2014" title="Google Summer of Code 2014"><img src="http://planet.gnome.org/heads/logos/gsoc2014.png" alt="GSoC 2014" /></a></p></TMPL_IF>
                                <TMPL_IF channel_gsoc2015><p><a href="https://wiki.gnome.org/SummerOfCode2015" title="Google Summer of Code 2015"><img src="http://planet.gnome.org/heads/logos/gsoc-2015.png" alt="GSoC 2015" /></a></p></TMPL_IF>
                                <TMPL_IF channel_gsoc2016><p><a href="https://wiki.gnome.org/SummerOfCode2016" title="Google Summer of Code 2016"><img src="http://planet.gnome.org/heads/logos/gsoc-2016.png" alt="GSoC 2016" /></a></p></TMPL_IF>
                                <TMPL_IF channel_gsoc2017><p><a href="https://wiki.gnome.org/SummerOfCode2017" title="Google Summer of Code 2017"><img src="http://planet.gnome.org/heads/logos/gsoc-2017.png" alt="GSoC 2017" /></a></p></TMPL_IF>
                                <TMPL_IF channel_gsoc2018><p><a href="https://wiki.gnome.org/SummerOfCode2018" title="Google Summer of Code 2018"><img src="http://planet.gnome.org/heads/logos/gsoc-2018.png" alt="GSoC 2018" /></a></p></TMPL_IF>
                                <TMPL_IF channel_opw2014><p><a href="https://wiki.gnome.org/GnomeWomen/OutreachProgram" title="GNOME Outreach Program for Women"><img src="http://planet.gnome.org/heads/logos/opw2014.png" alt="OPW 2014" /></a></p></TMPL_IF>
                                <TMPL_IF channel_guadec><p><a href="https://www.guadec.org/" title="The GNOME Conference"><img src="http://planet.gnome.org/heads/logos/guadec.png" alt="The GNOME Conference" /></a></p></TMPL_IF>
                                <TMPL_IF channel_opw2015><p><a href="https://wiki.gnome.org/GnomeWomen/OutreachProgram" title="GNOME Outreach Program for Women"><img src="http://planet.gnome.org/heads/logos/opw2015.png" alt="OPW 2015" /></a></p></TMPL_IF>
                                <TMPL_IF channel_opw2016><p><a href="https://wiki.gnome.org/GnomeWomen/OutreachProgram" title="GNOME Outreach Program for Women"><img src="http://planet.gnome.org/heads/logos/opw2016.png" alt="OPW 2016" /></a></p></TMPL_IF>
                                <TMPL_IF channel_opw2017><p><a href="https://wiki.gnome.org/GnomeWomen/OutreachProgram" title="GNOME Outreach Program for Women"><img src="http://planet.gnome.org/heads/logos/opw2017.png" alt="OPW 2017" /></a></p></TMPL_IF>
                                <TMPL_IF channel_gtkblog><p><a href="https://blog.gtk.org/" title="GTK+ Development Blog"><img src="http://planet.gnome.org/heads/logos/gtk.png" alt="GTK+" /></a></p></TMPL_IF>
                        </div>

                        <div class="post">
                                <div class="post-header">
                                        <TMPL_IF title><h3 class="post-title"><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h3></TMPL_IF>
                                </div> <!-- /post-header -->

                                <div class="post-contents <TMPL_IF channel_fixedwidth>post-fixedwidth</TMPL_IF>">
                                        <TMPL_VAR content>
                                </div> <!-- /post-contents -->

                                <div class="post-footer">
                                        <p><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR new_date></a></p>
                                </div> <!-- /post-footer -->
                        </div> <!-- /post -->
        </div> <!-- /entry -->

        </TMPL_LOOP>

        </div> <!-- /content -->
        </section>  <!-- /blog-entries -->
</div> <!-- /gnome-content -->


<div id="feeds-container">
        <div class="container">
                <div class="row">
                        <div id="feeds" class="col-xs-12">
                                <h3><a href="feeds.html">Feeds</a></h3>
                                <div id="feedlist"></div>
                        </div>
                </div>
        </div>
</div>

<div class="footer m-t-0">
        <div class="container">
                <div class="row">
                        <div class="col-xs-12 col-sm-9">
                                <div class="column">
                                        <div class="section">
                                                <h3><TMPL_VAR title ESCAPE="HTML"></h3>
                                                <p><b><TMPL_VAR title ESCAPE="HTML"> é uma janela para o mundo, o trabalho e as vidas dos membros da comunidade  <a href="http://br.gnome.org/">GNOME Brasil</a>.</b></p>
                                                <p>O design deste site é baseado no modelo dos sites do GNOME e <a href="http://planet.gnome.org/">Planet GNOME</a>.</p>
                                                <p id="ownership">Planeta GNOME Brasil automaticamente republica artigos de blogs da comunidade GNOME Brasil. Os artigos nessa página são de responsabilidade de seus respectivos autores. Nós não editamos ou endossamos o conteúdo de cada artigo.</p>
                                                <p>Atualizado em <TMPL_VAR new_date> UTC. Os horários das publicações estão convertidos para UTC.</p>
                                        </div>
                                </div>
                        </div>
                        <div class="col-xs-12 col-sm-3">
                                <div class="section">
                                        <h3>GNOME pelo mundo</h3>
                                        <p>Comunidades GNOME ao redor do mundo por região e idioma:</p>
                                        <ul>
                                          <li><a href="http://planeta.br.gnome.org/">Brasil</a></li>
                                          <li><a href="http://planeta.gnome.cl/">Chile</a></li>
                                          <li><a href="http://planet.gnomefr.org/">França</a></li>
                                          <li><a href="http://planet.gnome.gr/">Grécia</a></li>
                                          <li><a href="http://planeta.es.gnome.org/">Hispano</a></li>
                                          <li><a href="http://planet.nl.gnome.org/">Polônia</a></li>
                                          <li><a href="http://www.gnome.org.tr/">Turquia</a></li>
                                        </ul>
                                </div>
                        </div>
                        <div class="col-xs-12 footnotes">
                                <div class="section">
                                        <p>© <a href="https://br.gnome.org/">Projeto GNOME Brasil</a>.</p>
                                        <p>Planeta GNOME Brasil. Hospedado por <a href="https://www.redhat.com/" target="_blank">Red Hat</a>. Powered by <a href="http://www.planetplanet.org/">Planet</a> aggregator, <a href="http://www.python.org/">Python</a>, cron.</p>
                                </div>
                        </div> <!-- /footnotes -->
                </div>
        </div>
</div> <!-- /footer -->

        <script type="text/javascript" src="http://planet.gnome.org/jquery.cookie.min.js"></script>
        <script type="text/javascript">
        function toggleFeeds() {
                $("#feedlist").slideToggle(function() {
                        $("#feeds h3").toggleClass("open");
                });
        }
        $(document).ready(function() {
                var hidden = $.cookie("hidden") ? $.cookie("hidden").split(",") : new Array();
                // hide posts by disabled folks
                if (hidden.length > 0) for (i in hidden) {
                        $("div." + hidden[i]).hide();
                }
                $("#feeds h3 a").click(function(e) {
                        e.preventDefault();
                        if ($("#feedlist ul").length == 0) {
                                $("#feedlist").load('feeds.html', '', function(r,t,x) {
                                        $('<input type="checkbox" checked>')
                                                .change(function() {
                                                        var nick = $(this).parent().attr("class");
                                                        var i = $.inArray(nick, hidden);
                                                        if ($(this).attr("checked")) {
                                                                if (hidden[i]) hidden.splice(i, 1);
                                                                $("div." + nick).show();
                                                        } else {
                                                                if (!hidden[i]) hidden[hidden.length] = nick;
                                                                $("div." + nick).hide();
                                                        }
                                                        $.cookie("hidden", hidden.join(","),
                                                                {expires: 365});
                                                })
                                                .prependTo("#feedlist ul li");
                                        // remove checks from disabled folks
                                        for (i in hidden) {
                                                $("#feedlist ul li." + hidden[i] + " input")
                                                        .removeAttr("checked");
                                        }
                                        toggleFeeds();
                                });
                        } else {
                                toggleFeeds();
                        }
                });
        });
        </script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['disableCookies']);
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://webstats.gnome.org/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "2"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->

</body>

</html>
